body{
	margin:0px;
}

nav li{
	float: left;
	list-style-type: none;
}
nav{
	background-color: #0d47a1;
	width: 100%;
	padding: 12px 0px; 
    z-index: 100;
    height: 30px;
}

.right_menu{
	float: right;
	position: absolute;
	right:2%;
	top: 0%;
}

.item{
	font-weight: bold;
	text-decoration: none;
	color: white;
	margin-left: 20px;
	font-family: Sans-serif;
}

.left_menu{
	float: left;
	position: absolute;
	left:0%;
	top: 0%;
	padding: 0;
}
