.verticalmenu > ul{
    background-color: #e8eaf6;
    overflow-y: scroll;
    height: 100%;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: table;
    box-sizing: border-box;
}
.verticalmenu > ul li{
    color: black;
    width: 100%;
    font-size: 20px;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 10px 15px;
    z-index: 10;
    border-bottom:1px solid white;
}
.verticalmenu > ul li:hover{
    cursor: pointer;
    color: white;
    background-color: #1976d2;
}
.news-title{
    text-align: center;
    font-family: sans-serif;
    color: #0d47a1;
}
.descripion{
    width: 80%;
    position: relative;
    left: 10%;
    
}
.descripion label{
    font-family: sans-serif;
    font-size: 20px;
}
#description{
    margin-top: 10px;
    width: 100%;
    border: 2px solid #a897ff;
    font-size: 20px;
    font-family: sans-serif
}
#description:focus{
    border: 2px solid #b39ddb;
}
.delete{
    position: absolute;
    z-index: 10;
    right: 0;
    font-size: 20px;
}
.delete:hover{
    cursor: pointer;
    color: red;
}
.note-content{
    width: 150px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* medium devices (tablets,420 to 758px) */
@media (min-width: 420px) and (max-width: 900px) {
    .note-content{
        width: 90px;
    }    
}

#bars{
    display: none;
}
/* small devices (phones,420) */
@media (max-width: 419px) {
    #news-board{
       display: none;
    }    
    #bars{
        display: block ;
    }
}


